.hero-main,
.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10vmin;
  padding-bottom: 0.8vmax;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;

  .hero-images {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    padding: 0.8em;

    img {
      position: absolute;
      width: 25rem;
      opacity: 0;
      border-radius: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      opacity: 1;
    }
  }

  .hero-thumbs {
    grid-row: 2;
    width: 90%;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 5.5rem;
      padding: 0;
      border-radius: 0.6rem;
      border: none;
      margin-left: 1rem;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .hero-btns {
    display: none;
  }
}
