.hero-main, .modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10vmin;
  padding-bottom: 0.8vmax;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;

  .hero-images {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    padding: 0.8em;

    img {
      position: absolute;
      width: 28rem;
      opacity: 0;
      border-radius: 1rem;
    }

    .active {
      opacity: 1;
    }
  }

  .hero-thumbs {
    grid-row: 2;
    align-self: center;
    width: 90%;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 5.5rem;
      padding: 0;
      border-radius: 0.6rem;
      margin-left: 1rem;

      &:hover {
        border: 1.4px solid hsl(26, 100%, 55%);
      }
    }
  }

  .hero-btns {
    display: none;
  }
}
