.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0;
  display: flex;
  background-color: hsla(218, 12%, 13%, 0.9);

  div {
    margin: 0 auto;
    width: 60%;
    position: relative;

    .close {
      position: absolute;
      right: 22%;
      top: 3%;
      z-index: 3;

      &:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
      }
    }

    .hero-images {
      margin: 3rem 4%;

      img {
        width: 28rem;
      }
    }

    .hero-thumbs {
      margin-top: 8rem;
      width: 100%;
    }
  }

  .hero-btns {
    display: block;
    position: absolute;
    top: 40%;
    left: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      border: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: $primary-orange;
      }
    }
  }
}

.open-modal {
  z-index: 2;
  opacity: 1;
}
