ul {
  font-size: 11px;
  display: flex;
  margin-left: 1rem;
  

  li {
    list-style-type: none;
    display: inline;
    margin-left: 2rem;

    a {
      text-decoration: none;
      color: $dark-blue;
      font-family: inherit;
      padding: 4.7vh 0;

      &:hover {
        cursor: pointer;
        border-bottom: 4px solid $primary-orange;
      }
    }
  }
}
